extends framework.pug

block content
    h1 #{ title }
    div #{ content }
    form(
        action = '/postTest'
        method = 'post'
    )
        input(
            type = 'text'
            name = 'firstname'
        )
        input(type = 'submit')